# Fichier d'exemple - Copier vers .env.local et remplir
APP_ENV=dev
APP_SECRET=changeme_generate_a_random_string
DATABASE_URL="mysql://root:@127.0.0.1:3306/db_ecommerce_project?serverVersion=8&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default
